<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4>QTPod</h4>
                <p>We are currently working on productionizing our entire system, and anticipate having a full package ready sometime in December 2017. If you're interested in our work, or if you'd like to learn more about our technology, contact us anytime at hello@qtpod.io.</p>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <h4>Company</h4>
                <ul class="nav">
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Product</h4>
                <ul class="nav">
                    <li><a href="#home">Technology</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Connect</h4>
                <ul class="nav">
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="https://github.com/QTPod" target="_blank"><i class="fa fa-github"></i> Github</a></li>
                </ul>
            </div>
        </div>
        <h4 class="text-right">©2017 QTPod</h4>
    </div>
</footer>