<footer>

<div>
    <h1>QTPod</h1>
    <p>We are currently working on productionizing our entire system, and anticipate having a full package ready sometime in September 2017.
       If you're interested in our work, or if you'd like to learn more about our technology, contact us anytime at hello@qtpod.io.
    </p>
</div>
    
<table>
    <tr>
        <th>Company</th>
        <th>Product</th>
        <th>Connect</th>
    </tr>
    <tr>
        <td><a href="/about">About Us</a></td>
        <td><a href="#">Technology</a></td>
        <td><a href="https://github.com/QTPod"><i class="fa fa-github"> Github</i></a></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td class="copyright">©2017 QTPod</td>
    </tr>
</table>

</footer>