<div class="podcast">
    <a href="/podcast/{{urlname}}">
        <img class="podcast-cover" src="{{url}}">
        <figcaption class="podcast-name">{{name}}</figcaption>
    </a>
    <figcaption class="podcast-author">{{author}}</figcaption>
</div>