<div class="podcast fixed-width text-center">
    <a href="/podcast/{{urlname}}">
        <img class="podcast-cover fixed-width" src="{{url}}">
        <figcaption class="podcast-name">{{name}}</figcaption>
    </a>
    <figcaption class="podcast-author">{{author}}</figcaption>
</div>