<header>
    <a href="/"><h1 class="site-title"><i class="fa fa-podcast"></i> QTPod</h1></a>

<nav class="navbar">
    <ul class="navlist">
        <li class="navitem navlink"><a href="/home">Home</a></li>
        <li class="navitem navlink active"><a href="/podcasts/popular">Popular</a></li>
        <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Find a podcast...">
            <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
        </li>
    </ul>
</nav>  
  
</header>