{{> browseheader}}

<div class="complete-podcast">

    <div class="single-podcast">
        {{#each allPodcasts}}
                {{> podcast2}}
        {{/each}}
    </div>

    <div class="episode-container">
        <table class="episode-table">
            <tr>
                <th>Name</th>
                <th>Released</th>
            </tr>
        
            {{#each allEpisodes}}
                {{> episode}}
            {{/each}}
        </table>
    </div>

</div>

{{> footer}}