{{> header}}

<div class="episode-container">
    {{#each allPodcasts}}
        {{> podcast}}
    {{/each}}
    
    <table class="episode-table">
        <tr>
            <th>Name</th>
            <th>Released</th>
        </tr>
        
        {{#each allEpisodes}}
            {{> episode}}
        {{/each}}
    </table>
    
</div>

{{> footer}}