{{> header2}}

<main class="main-container">
    <h1 class="text-center">Search results for "{{searchquery}}"</h1>
    
    {{#if allPodcasts}}
        <div class="podcast-container">
            {{#each allPodcasts}}
                {{> podcast}}
            {{/each}}
        </div>
    
    {{else}}
        <h4 class="text-center">We couldn't find any podcasts that match your search.</h4>
        
    {{/if}}
    
</main>