.site-title {
    font-size: 22px;
}

.navitem {
    font-size: 16px;
    margin-left: -8px;
}

.navlist {
    margin-left: 10px;
}

#navbar-search-input {
    width: 130px;
}

.launcher {
    padding: 0px 6%;
}

.launcher-title {
    font-size: 3.6vw;
}

.launcher-message {
    font-size: 4vw;
    margin-bottom: 30px;
}

.launcher-image {
    width: 70%;
}

.view-all-button {
    font-size: 4vw;
    margin: 5px 0px 10px 0px;
    padding: 2%;
}

.main-container {
    margin-top: 15px;
    padding: 0px;
    width: 91%;
}

.podcast-container {
    padding-top: 2%;
    padding-left: 1%;
    flex-wrap: wrap;
    overflow: hidden;
    background: #fff;
}

.no-overflow {
    flex-wrap: nowrap;
    overflow: hidden;
}

.podcast {
    margin: 0% 1% 1% 1%;
    width: 27vw;
}
	
.asdf {
    display: none;
}

.podcast-cover {
    width: 27vw;
}

.podcast-name {
    font-size: 3.5vw;
}

.podcast-author {
    font-size: 3vw;
}

.complete-podcast {
    flex-wrap: wrap;
    width: 100%;
}

.single-podcast, .episode-container{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
    padding-left: 6px;
    width: 85%;
    flex-wrap: nowrap;
}

.episode-table {
    margin: 0;
    width: 100%;
}

.episode-table td, th {
    font-size: 15px;
}

footer {
    flex-wrap: wrap;
    margin-top: 50px;
    padding-left: 10%;
}

footer h1 {
    font-size: 16px;
}

footer p {
    font-size: 12px;
    line-height: auto;
}

footer th {
    font-size: 15px;
}

.copyright {
    font-size: 12px;
    height: 30px;
}