body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    background: #eee;
}

::selection {
  background: #aaa;
}

::-moz-selection {
  background: #aaa;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #319df6;
}

a:focus {
    outline: none;
}

.navbar {
    border-radius: 0;
    background: #444;
    border: none;
    padding-left: 6%;
    padding-right: 6%;
}

#myNavbar a {
    color: #fff;
}

#myNavbar a:hover {
    background: #333;
}

#navbar-brand {
    font-size: 27px;
    padding-top: 12px;
    color: #fff;
}

.navbar-nav {
    font-size: 18px;
}

.dropdown-menu {
    background: #777;
}

#navbar-search-input {
    font-size: 16px;
    background: #dadada;
    border: 1px solid #dadada;
    border-radius: 2px;
}

#navbar-search-input:focus {
    background: #fff;
}

/* HOMEPAGE */
#home {
    margin-top: 0;
    color: #fff;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("landing-img.jpg");
    background-size: cover;
    background-position: center;
}

#home .row {
    margin-top: 15%;
}

#home h1 {
    font-size: 45px;
    font-weight: 900;
    line-height: 80%;
    margin-top: 0;
    white-space: nowrap;
}

#home p {
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-top: 0;
}

#about {
    background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url("popular.png");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 7%;
    min-height: 100vh;
    color: #fff;
}

#about h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 0.8px;
}

#about h3 {
    font-size: 28px;
}

#about a {
    text-decoration: none;
}

.aboutlink {
    text-decoration: none;
    color: #319df6;
}

.aboutlink:hover {
    color: #fff;
}

#contact {
    padding: 60px 0 200px 0;
    background: #eaeaea;
}

/* VIEW ALL BUTTON */
.view-all-button {
    display: inline-block;
    border-radius: 4px;
    background: #f4511e;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
}

.view-all-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.view-all-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.view-all-button:hover span {
    padding-right: 25px;
}

.view-all-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* MULTIPLE PODCASTS */
.main-container {
    display: block;
    width: 68vw;
    padding: 0.6% 1.2%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    border-radius: 5px;
    background: #fff;
}

.main-container h1 {
    margin: 5px 0 15px 0;
}

.low-margin-top {
    margin-top: 1.5%;
}

.podcast-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.4vw;
    padding-bottom: 0;
    border-radius: 5px;
    background: #e8e8e8;
}

.no-wrap {
    flex-wrap: nowrap;
    overflow: hidden;
}

.podcast {
    width: 10vw;
    margin: 0.4vw;
}

.podcast-cover {
    width: 10vw;
    border: solid 1px #ddd;
}

.podcast-name {
    font-size: 120%;
}

.podcast a {
    text-decoration: none;
}

.podcast-author {
    color: #777;
    font-size: 90%;
}

@media (max-width: 900px) {
    .podcast-name {
        font-size: 100%;
    }
    
    .podcast-author {
        font-size: 80%;
    }
}

#popular-button {
    background: #319df6;
    font-size: 26px;
    margin-top: 1.2%;
    padding: 6px;
    width: 256px;
}

#popular-button:hover span {
    padding-right: 20px;
}

.main-container h2 {
    margin-top: 0;
}

/* SINGLE PODCAST */
.complete-podcast {
    display: flex;
    flex-wrap: nowrap;
    width: 1000px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.single-podcast {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0.6vw;
    width: 250px;
    background: #fff;
}

.fixed-width {
    width: 160px;
}

.episode-container {
    padding: 1vw 0;
    margin-left: -20px;
    width: 1000px;
    text-align: center;
    display: flex;
    background: #fff;
}

.episode-table {
    border-collapse: collapse;
    width: 97.5%;
    margin-left: 0.4vw;
}

.episode-table td, th {
    border: solid 1px #ccc;
    text-align: left;
    padding: 6px;
    font-size: 18px;
}

.episode-table tr:nth-child(even) {
    background: #eee;
}

.name-cell {
    text-align: left;
}

.episode-description {
    float: right;
}

.fa-info-circle {
    font-size: 24px;
    color: #888;
    vertical-align: middle;
}

.fa-info-circle:hover {
    color: #333;
}

.episode-table tr:nth-child(even) {
    background: #f2f2f2;
}

.release-date-cell {
    width: 1px;
}

.play-button-cell {
    width: 1px;
}

.play-button {
    font-size: 30px;
    cursor: pointer;
    vertical-align: middle;
    color: #000;
}

.play-button:hover {
    color: #2bff00;
}

@media (max-width: 768px) {
    #home {
        padding-top: 7vh;
    }
    
    #home h1 {
        font-size: 30px;
    }
    
    #home p {
        font-size: 20px;
    }
    
    #about h1 {
        padding-top: 8%;
        font-size: 32px;
    }
    
    #about h3 {
        font-size: 20px;
    }
    
    .view-all-button {
        font-size: 24px;
        width: 160px;
        padding: 5px;
    }
    
    .view-all-button:hover span {
        padding-right: 18px;
    }
    
    .main-container {
        width: 86vw;
        padding: 2% 3%;
    }
    
    .main-container h1 {
        font-size: 28px;
    }
    
    .podcast {
        width: 24.8vw;
        margin: 1%;
    }
    
    .podcast-cover {
        width: 25vw;
    }
    
    .podcast-name {
        font-size: 3vw;
    }
    
    .podcast-author {
        font-size: 3vw;
    }
    
    #popular-button {
        font-size: 20px;
        width: 200px;
        padding: 5px;
        margin-top: 2%;
    }
    
    #popular-button:hover span {
        padding-right: 16px;
    }

    .complete-podcast {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 50px;
    }

    .single-podcast, .episode-container {
        flex-wrap: nowrap;
        width: 85%;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        padding: 2%;
        padding-bottom: 0;
    }
    
    .episode-container {
        padding: 3%;
    }

    .episode-table {
        margin: 0;
        width: 100%;
    }

    .episode-table td, th {
        font-size: 15px;
    }
}

/* FOOTER */
footer {
    background-color: #444;
    color: #fff;
    min-height: 150px;
    padding: 20px 10px;
}

footer h4 {
    margin-bottom: 4px;
}

footer .nav > li > a {
    padding: 0px;
    color: #319df6;
}

footer .nav >li > a:hover {
    background: none;
    color: #fff;
}

footer .text-right {
    margin-right: 50px;
    margin-top: -15px;
}

/* 404 PAGE */
.error-container {
    margin-top: 120px;
    text-align: center;
}

.error-container h2 {
    margin: 10px 0;
    font-size: 96px;
}

.error-container h3 {
    margin: 10px 0;
    font-size: 36px;
}