body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background: #eee;
}

button {
    outline: none;
}

a {
    text-decoration: none;
}

/* TITLE AND NAVBAR */
.site-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: normal;
    color: #fff;
    background: #444;
}

.navbar {
    background: #fff;
    font-size: 18px;
    line-height: 22px;
}

.navlist {
    margin: 0 0 0 20px;
    padding: 0;
}

.navitem {
    display: inline-block;
}

a {
    color: #000;
}

a:hover,
a:focus {
    color: #319df6;
}

a:focus {
    outline: none;
}

.navlink a {
    padding: 8px 10px;
    display: inline-block;
}

.navlink.active {
    box-shadow: inset 0 -3px #319df6;
}

.navbar-search {
    float: right;
    margin-right: 2%;
    padding: 0;
    line-height: 38px;
}

#navbar-search-input {
    padding: 4px;
    font-size: 16px;
    background: #eee;
    border: 1px solid #dadada;
    border-radius: 2px;
}

#navbar-search-input:focus {
    outline: none;
    background: #fff;
}

#navbar-search-button {
    margin-left: -5px;
    font-size: 16px;
    background: none;
    border: none;
    color: #343434;
    cursor: pointer;
}

#navbar-search-button:hover {
    color: #319df6;
}

#navbar-search-button:focus {
    color: #319df6;
    outline: none;
}


/* HOME PAGE LAUNCHER */
.launcher {
    margin-top: 0;
    display: inline-block;
    padding: 10px 14%;
    background: #ffe0cc;
    text-align: center;
}

.launcher-title {
    font-size: 30px;
    color: #222;
}

.launcher-message {
    vertical-align: center;
    margin-top: -1%;
    margin-bottom: 50px;
    color: #4a4a4a;
    font-size: 30px;
}

.launcher-image {
    width: 40%;
}

.main-container {
    padding: 10px 30px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 965px;
    text-align: center;
    display: block;
    background: #fff;
}

/* VIEW ALL BUTTON */
.view-all-button {
    display: inline-block;
    border-radius: 4px;
    background: #f4511e;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 1.5%;
    transition: all 0.5s;
    cursor: pointer;
}

.view-all-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.view-all-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.view-all-button:hover span {
    padding-right: 25px;
}

.view-all-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* MULTIPLE PODCASTS */
.podcast-container {
    padding-top: 20px;
    padding-left: 10px;
    margin: 1% 0%;
    border-radius: 0.8%;
    display: flex;
    flex-wrap: wrap;
    background: #eee;
}

.podcast {
    display: block;
    margin: 0px 10px 8px 10px;
    width: 168px;
    text-align: center;
}

.podcast-cover {
    width: 168px;
    border: solid 1px #ccc;
}

.podcast-name {
    font-size: 16px;
}

.podcast-author {
    font-size: 14px;
    color: #777;
}

/* EPISODES OF A PODCAST */
.complete-podcast {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
}

.single-podcast {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px 12px 5px 12px;
    width: 240px;
    background: #fff;
}

.episode-container {
    padding: 20px 12px;
    margin-top: 20px;
    margin-left: -20px;
    width: 1000px;
    text-align: center;
    display: flex;
    background: #fff;
}

.episode-table {
    border-collapse: collapse;
    width: 97.5%;
    margin-left: 12px;
}

.episode-table td, th {
    border: solid 1px #ccc;
    text-align: left;
    padding: 6px;
    font-size: 18px;
}

.episode-table tr:nth-child(even) {
    background: #eee;
}

.release-date-cell {
    width: 1px;
}

.play-button-cell {
    width: 1px;
}

.play-button {
    font-size: 28px;
    cursor: pointer;
}

.play-button:hover {
    color: #2bff00;
}

/* FOOTER */
footer {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 150px;
    padding: 22px 0 0 17%;
    background: #333;
    color: #fff;
}

footer h1 {
    font-size: 20px;
    line-height: 0px;
}

footer p {
    font-size: 14px;
    line-height: 20px;
    max-width: 500px;
    margin-right: 50px;
    letter-spacing: -0.1px;
}

footer th {
    border: none;
    padding: 0;
    font-size: 20px;
}

footer td {
    width: 180px;
}

footer a {
    color: #319df6;
}

footer a:hover {
    color: #fff;
}

.copyright {
    height: 80px;
}

/* 404 PAGE */
.error-container {
    margin-top: 50px;
    text-align: center;
}

.error-container h2 {
    margin: 10px 0;
    font-size: 96px;
    font-weight: 100;
}

.error-container h3 {
    margin: 10px 0;
    font-size: 36px;
    font-weight: 400;
}